body {
    background-color: darkorange;
}

h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    
}

img {
    width: 100%;
    border-radius: 5px;
    border: 3px solid blue; 
    background-color: black;
    animation: fade 5s;
}

@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

/* Set default attributes for the footer */
footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

/* Set flex so <p> and <img> show inline */
footer p {
    color: var(--dark-border-color); /* Set text color for <p> */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px; /* Space between text and image */
    transition: font-size 0.5s ease;
}

footer img {
    width: 75px; /* Set the width of the img */
    height: auto; /* Ensures the height adjusts proportionally */
    margin-left: 10px; /* Set space between text and image */
    border: 3px solid white;
    transition: width 0.5s ease;
}

.f_name p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    transition: font-size 0.5s ease;
}