main {
    text-align: center;
}

h1 {
    background-color: rgb(3, 87, 142);
    color: ghostwhite;
    text-align: center;
    font-size: 1.7rem;
    text-shadow: 3px 3px 4px black;
    padding: 20px;
}

.hero {
    width: 100%;
    height: auto;
}

main img {
    border-radius: 5px;
    border: 3px solid rgb(3, 87, 142); 
    background-color: black;
    box-shadow: -1px 1px 2px 3px rgb(53, 118, 171);
}

main {
    padding-bottom: 10px;
}


/* Set default attributes for the footer */
footer {
    background-color: rgb(3, 87, 142);
    text-align: center;
    padding: 20px;
}

/* Set flex so <p> and <img> show inline */
footer p {
    color: ghostwhite; /* Set text color for <p> */
    text-shadow: 3px 3px 4px black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px; /* Space between text and image */
    transition: font-size 0.5s ease;
}

footer img {
    width: 75px; /* Set the width of the img */
    height: auto; /* Ensures the height adjusts proportionally */
    margin-left: 10px; /* Set space between text and image */
    border: none;
    border-radius: 0px;
    box-shadow: 3px 3px 4px black;
    transition: width 0.5s ease;
}

.f_name p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    transition: font-size 0.5s ease;
}

footer a {
    color: rgb(66, 249, 69); /* Set text color for <p> */
    text-shadow: 3px 3px 4px rgb(40, 39, 39);
    font-size: 1rem;
}