

:root {
    --primary-font: 'Arial', sans-serif;
    --secondary-font: 'Georgia', serif;
    --heading-font: 'Varela Round', sans-serif;
}


body {
    font-family: var(--primary-font);
    padding: 20px; /* Adds space between the body content and the edges of the page */
}

h1, h2, h3 th {
    font-family: var(--heading-font);
}

p {
    font-family: var(--secondary-font);
}


table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 75%;
    margin: 50px auto; /* Centers the table horizontally and adds top/bottom margin */
}

thead th {
    font-size: 1.5rem; /* Makes the text extra large */
    height: 20px; /* Increases row height */
    padding: 15px; /* Adds extra padding for spacing */
    background-color: rgb(136, 0, 0); 
    text-align: center; /* Centers text within header cells */
    font-family: var(--heading-font);
    color: ghostwhite;
    border: none;
}

tbody th {
    font-size: 1.25rem; /* Makes the text extra large */
    height: 20px; /* Increases row height */
    padding: 10px; /* Adds extra padding for spacing */
    text-align: center; /* Centers text within header cells */
}

tbody td {
    font-size: 1.25rem; /* Makes the text extra large */
    height: 20px; /* Increases row height */
    padding: 10px; /* Adds extra padding for spacing */
    text-align: center; /* Centers text within header cells */
}

thead th[scope="col"]:not([colspan="4"]) {
    background-color: #b83636; /* Example: Light gray background */
}


tbody tr:nth-child(odd) th,
tbody tr:nth-child(odd) td {
    background-color: ghostwhite;
}


tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td {
    background-color: #ffcccc; /* Light red for even rows */
}




caption {
    caption-side: bottom;
    padding: 5px;
}