/* base.css */

/* Define color variables */
:root {
    --primary-color: #26516A;
    --accent-color: rgb(249, 108, 57);
    --text-color-light: ghostwhite;
    --text-color-dark: black;
    --background-color-light: #f4f4f4;
    --hover-background-color: rgba(255,255,255, 0.2); 
    --active-background-color: rgb(250, 78, 15); 
    --border-color: steelblue;
    --shadow-color: gray;
    --dark-border-color: black;
}

/* Set default font, color, background and margin */
body {
    font-family: 'Varela Round', sans-serif;
    color: var(--text-color-dark); 
    background-color: var(--background-color-light); 
    margin: 0; /* Remove the default margin */
}

/* Mobile View Hamburger Menu */
#menu {
    font-size: 1.2rem;
    position: absolute;
    top: 2px;
    right: 15px;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--primary-color); /* Matches primary color */
    color: var(--text-color-light); /* Matches text color light */
    border: 2px solid var(--dark-border-color);
    border-radius: 15px;
    cursor: pointer; /* Changes cursor to pointer when hovering */
}

#menu::before {
    content: "≡";
    color: var(--text-color-light); /* Matches text color light */
}

/* .active::before {
    content: "▶ ";
    color: var(--text-color-light);
} */

.show li {
    display: block;
    width: auto;
}

#menu.show::before {
    content: "X";
}

/* Hide navigation by default */
.navigation {
    display: none;
}

.navigation.show {
    display: block; /* Show when the 'show' class is added */
}




/* Define header. Use flex and flex-direction to display stacked when in small or mobile display  */
header {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/* Apply border, shadow, width, ect to the profile image */
header img {
    width: 225px; 
    height: auto;
    border: 3px solid var(--border-color); 
    box-shadow: 0 0 45px var(--shadow-color);
    margin-bottom: 1rem;
}

/* Apply atributes to the name in the span */
.header-title span {
    font-size: 2rem; 
    font-weight: bold;
    color: var(--text-color-light);
    margin: 0;
}

/* Apply a background color to the nav bar */
nav {
    background-color: var(--accent-color); /* Same background color as the header */
}

/* Apply flex and flex column to the nav bar just like the header when in mobile mode */
nav ul {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    flex: 1; /* Make each link take equal space */
}

/* Use block disply for the nav items. Set font color, size, center text and remove underline */
nav ul li a {
    display: block;
    padding: 1rem;
    color: var(--text-color-dark);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

/* When hovering over nav items, change background color and make text bold */
nav ul li a:hover {
    background-color: var(--hover-background-color);
    border: 2px solid var(--dark-border-color);
    font-weight: bold;
}

/* Change the color of the active nav link */
nav .active {
    background-color: var(--active-background-color);
}

/* Set style of card ul items */
.card ul {
    list-style-type: none; /* Remove bullet points */
    padding-left: 1rem;
}

/* Font size and weight for card title */
.card span {
    font-weight: bold;
    font-size: 1rem;
}

/* Put space between list items */
.card li {
    padding-bottom: .75rem;
}

/* Set font size of the links */
.card a {
    font-size: .85rem;
}

/* Set the cards attributes */
.card {
    display: block;
    margin-bottom: 20px;
    border: 2px solid var(--border-color); /* Add border */
    padding: 0; 
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 0 35px var(--shadow-color); /* Add shadow to cards */
    overflow: hidden; /* Ensure child elements don't overflow the rounded corners as shown in lesson video */
}


.card-header {
    background-color: var(--primary-color); /* Background color for the header */
    padding: 20px; /* Padding inside the header */
    text-align: center; /* Center align the heading */
    border-bottom: 1px solid var(--border-color); /* Add bottom border to the header */
}

.card-header h2 {
    margin: 0; /* Remove default margin */
    color: var(--text-color-light); /* Set text color */
    font-size: 1.8rem; /* Set font size */
}

.card-content {
    padding: 20px; /* Padding for the card content */
}

/* Set attributes for the paragraphs. These will change once they become dynamic */
.card-content p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.main {
    padding: 0 60px; /* Padding on left and right */
    margin-bottom: 40px;
}

/* Attributes for the h1 in the main, make the border bottom dynamic */
main h1 {
    font-size: 1.2rem;
    margin: 20px 10px 20px 10px; /* Add margin-bottom for spacing */
    border-bottom: 1px solid var(--border-color); /* Add bottom border */
    padding-bottom: 10px; /* Add some space between the text and the border */
    width: calc(100% - 20px); /* Full width minus the margins */
}

/* Set default attributes for the footer */
footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
}

/* Set flex so <p> and <img> show inline */
footer p {
    color: var(--text-color-light); /* Set text color for <p> */
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 10px; /* Space between text and image */
}

footer img {
    width: 100px; /* Set the width of the img */
    height: auto; /* Ensures the height adjusts proportionally */
    margin-left: 10px; /* Set space between text and image */
}

/* Displays below, but centered */
.last-modified {
    text-align: center;
    margin-top: 10px; /* Space above the last modified line */
}







/* Adjust size as screen size changes */
@media (min-width: 800px) {
    .header-title span {
        font-size: 2.5rem; 
    }

    main h1 {
        font-size: 1.5rem;
        margin-left: 50px;
    }

    .card span {
        font-weight: bold;
        font-size: .9rem;
    }

    .card a {
        font-size: .8rem;
    }
    
}



/* Media query for screens smaller than 700px */
@media (max-width: 700px) {
    .header-title span {
        font-size: 1.5rem; /* Adjusts size as needed */
        padding-right: 1rem;
    }

    main h1 {
        font-size: 1.2rem; /* Adjusts size as needed */
        margin: 20px 10px 20px 10px;
        width: calc(100% - 20px); /* Full width minus the margins */
    }

    footer p {
        color: var(--text-color-light);
        font-size: .7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 10px; /* Space between text and image */
    }
    
    footer img {
        width: 40px; /* Adjust the width as needed as screen size changes */
        height: auto; /* Ensures the height adjusts proportionally */
        margin-left: 10px; /* Set space between text and image */
    }

    .head-wrapper {
        color: var(--text-color-light);
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 2rem;
    }

    .card span {
        font-weight: bold;
        font-size: .75rem;
    }

    .card a {
        font-size: .7rem;
    }

    .card p {
        font-size: 1rem;
    }
}

