/* Define color variables */
:root {
    --primary-color: #26516A;
    --accent-color: rgb(255, 138, 70);
    --text-color-light: ghostwhite;
    --text-color-dark: black;
    --background-color-light: #f4f4f4;
    --hover-background-color: rgba(255,255,255, 0.2); 
    --active-background-color: rgb(255, 156, 85); 
    --border-color: steelblue;
    --shadow-color: gray;
    --dark-border-color: black;
    --darkMode-color: rgb(30, 30, 30);
    --darkMode-shadow: rgb(62, 62, 62);
    --darkMode-hover: #ff7749;
    --darkMode-visited: rgb(133, 200, 254);
    --darkMode-noVisit: rgb(100, 237, 161);
}

/* Flex to display header contents horizontally as in a row, side by side */
header {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 2rem;
}

/* Set profile image size when in large or wide screen mode and other attributes */
header img {
    width: 225px; 
    height: auto;
    border: 3px solid var(--border-color); 
    box-shadow: 0 0 45px var(--shadow-color);
    margin-right: 2rem;
}





/* Adjust size as screen size changes */
/* Media query for screens larger than 900px */
@media (min-width: 900px) {
    .head-wrapper {
        display: flex;
        align-items: center; /* Center items vertically */
    }

    .header-title {
        display: flex; /* Display title inline */
        align-items: center; /* Align text vertically with the image */
        margin-left: 20px; /* Add space between the image and the title */
    }

    .header-title span {
        font-size: 4rem; 
        color: var(--text-color-light);
    }

    main h1 {
        font-size: 2rem; /* Adjust as needed */
        margin-left: 50px; /* Adjust as needed */
        width: calc(100% - 20px); /* Adjust width based on margin-left */
    }

    .hero {
        margin: 0 auto;
        position: relative;
    }
    
    .herolabel {
        position: absolute;
        top: 50px;
        left: 5%;
        
        background: radial-gradient(ghostwhite, rgb(49, 113, 186));
        border: 1px solid black;
        padding: .75rem;
        box-shadow: 0 0 4rem white;
        opacity: 0.85;
    }
    
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 500;
        font-size: 1.4rem;
        color: #f8da5f;
        font-family:"Varela Round", serif;
        text-shadow: 4px 4px 4px black; 
    }
    
    .hero picture {
        width: 100%;
    }
    
    .hero img {
        width: 100%;
        height: auto;
        display: block;
    }

    .card span {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .card a {
        font-size: 1.2rem;
    }

    .vLabel span {
        font-size: 2.75rem;
    }
}

@media (min-width: 1100px) {
    #menu {
        display: none; /* Hide hamburger menu */
    }

    
    .main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        padding: 0 60px;
    }



    .hero {
        margin: 0 auto;
        position: relative;
    }
    
    .herolabel {
        position: absolute;
        top: 50px;
        left: 2%;
        
        background: radial-gradient(ghostwhite, rgb(49, 113, 186));
        border: 1px solid black;
        padding: .75rem;
        box-shadow: 0 0 4rem white;
        opacity: 0.85;
    }
    
    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 500;
        font-size: 2rem;
        color: #f8da5f;
        font-family:"Varela Round", serif;
        text-shadow: 4px 4px 4px black; 
    }
    
    .hero picture {
        width: 100%;
    }
    
    .hero img {
        width: 100%;
        height: auto;
        display: block;
    }

    .navigation {
        display: flex; /* Show navigation */
        justify-content: center; /* Center the ul within the nav */
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%; /* Ensure the navigation spans the full width */
        transition: opacity 0.5s ease, height 0.5s ease;
    }

    

    nav ul {
        display: flex; /* Make ul a flex container */
        flex-direction: row; /* Arrange links horizontally */
        justify-content: space-between; /* Distribute items evenly */
        align-items: center; /* Center items vertically */
        width: 100%; /* Ensure ul spans the full width of the navigation */
        padding: 0;
        margin: 0;
        list-style: none; /* Remove default list styling */
        transition: opacity 0.5s ease, height 0.5s ease;
    }

    nav ul li {
        flex: 1; /* Ensure equal spacing between list items */
        text-align: center; /* Center align text */
        transition: opacity 0.5s ease, height 0.5s ease;
    }

    nav ul li a {
        display: block;
        padding: 1rem;
        color: var(--text-color-dark);
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        transition: opacity 0.5s ease, height 0.5s ease;
    }



    .map {
        width: 100%; /* Full width */
        padding: 0 60px; /* Match <main> padding, if needed */
        min-height: 400px; /* Ensure it’s at least 400px tall */
        height: auto; /* Allow it to scale as needed */
    }
    
    .map iframe {
        width: 100%;
        height: 400; 
    }




@media (max-width: 1450px) {
    .card span {
        font-weight: bold;
        font-size: 1rem;
    }

    .card a {
        font-size: .75rem;
    }

    .card p {
        font-size: 1rem;
    }

    .herolabel p {
        font-size: 1.75rem;
    }

}

}



